body {
  /* 
  background-color:#fff;
  background-image: url("http://gyazo.com/829dc70475247cda199d6ad15764eb1b.png")
  background-image: url("http://gyazo.com/51a65c8cc400f3095c86a78069b96ea4.png")
  background-image: url("http://gyazo.com/747004d417125563a67c4420f037b6b7.png")
  background-image: url("http://subtlepatterns.com/patterns/exclusive_paper.gif")
  background-image: url("/images/exclusive_paper.gif")
  */
}
